<c-container fluid class="input pt">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div>
      <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
      <div class="file-upload">
        <button color="primary" class="roundbutton" (click)="fileUpload.click()">
            <img class="active" src="assets/image.gif"/>
        </button>
      </div>
    </div>
    <!-- <div>
      <button color="primary" class="roundbutton" (click)="xxx()">
        <svg [cIcon]="icons.cilMic" size="3xl" title="Microphone Icon"></svg>
      </button>
    </div> -->
  </div>
</c-container>