<div class="input d-flex justify-content-center">
  <div>
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
    <div class="file-upload">
      <button color="primary" class="roundbutton" (click)="fileUpload.click()">
          <!-- <svg [cIcon]="icons.cilImage" size="3xl" title="Image Icon"></svg> -->
          <img class="active" src="assets/image.gif"/>
      </button>
    </div>
  </div>
  <!-- <div>
    <button color="primary" class="roundbutton" (click)="xxx()">
      <svg [cIcon]="icons.cilMic" size="3xl" title="Microphone Icon"></svg>
    </button>
  </div> -->
</div>