.menu {
  overflow: hidden;
  background-color: #333;
  // position: fixed;
  height: 5vh;
  top: 0;
  width: 100%;
  z-index: 1;
}

a {
  color: white;
}

a:hover {
  color: #E8E8E8;
}